#myCart {
    margin-top: 100px;
    padding: 50px;
}

#myCart .btn-primary {
    margin: 20px 0 0 0;
}

.myCartItem {
    border-bottom: 1px dashed #e3e3e3;
    padding: 20px 0px;
}

#checkout {
    text-align: center;
}

#checkout h2 {
    font-size: 18px;
    font-weight: bold;
}

.iconCart.text-center {
    color: #ebebeb;
    font-size: 180px;
    margin-top: 70px;
}

#checkout {
    text-align: center;
    background-color: #f7f7f7;
    padding: 10px;
}

#checkout h1,
#checkout h2 {
    text-align: left;
}

.subTotal h3 {
    font-size: 14px;
    text-align: left;
    font-weight: bold;
}

.subTotal {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.resumen {
    background-color: #f7f7f7;
    padding: 25px 0 0;
    margin-bottom: 20px;
}

form h2 {
    border-bottom: 1px dashed #e3e3e3;
    padding-bottom: 10px;
}

#checkoutEnd {
    text-align: center;
}

#checkoutEnd h2 {
    margin-bottom: 20px;
}

div#checkoutEnd .fa-circle-check {
    font-size: 48px;
    margin: 10px 0;
    color: #247200;
}