/* .modal-custom:before {
  content: "";
  width: 100vw;
  height: 100vh;
  position: fixed;
} */
.modal-custom {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    background-color: #fff;
    width: 400px;
    height: 400px;
}