@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  

  --color-main:#af4417;
--main-font: 'Quicksand', sans-serif;
  
}

body {
  background-color: #e3e3e3;
  font-family: var(--main-font)
 
}

h1 {
  font-size: 24px;
  text-align: center;
}


/**Header**/
nav{
  background-color: var(--color-main);
  color:#fff
}

#basic-navbar-nav {
  flex-grow: 0;
}

nav a, .navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.user {
  margin-left: 50px;
}

