@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {


  --color-main: #af4417;
  --color-green: #2b7202;
  --color-red: #720227;
  --main-font: 'Quicksand', sans-serif;


}

body {
  background-color: #e3e3e3;
  font-family: var(--main-font)
}

h1 {
  font-size: 24px;
  text-align: center;
  margin: 30px 0
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 14px;
}

h4 {
  margin: 20px 0;
  font-size: 14px;
  font-weight: bold;
}

h5 {
  font-size: 12px;
}

p {
  font-size: 13px;
  margin: 0 0 10px 0;
  padding: 0;
}


/**Buttons**/

.btn {
  border-radius: 2px;
  text-transform: capitalize;
  font-size: 15px;
  padding: 5px 15px;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--color-main);
  border-color: var(--color-main);

  color: #fff;
  cursor: pointer;
  transition: all ease-in .3s;
  width: 100%;
  margin: 20px 0 0 0;
  border-radius: 0;
}

.btn-danger {
  background-color: var(--color-red);
  border-color: var(--color-red);
  color: #fff;
  cursor: pointer;
  transition: all ease-in .3s;
  width: 100%;
  margin: 20px 0 0 0;
  border-radius: 0;
}

.btn-primary:hover {
  background-color: #73b4ff;
  border-color: #73b4ff;
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #000;
  background-color: #cce1ff;
  border-color: #cce1ff;
}

.btn-secondary {
  background-color: #4099ff;
  border-color: #4099ff;
}

.add {
  margin: 5px 0;
  background-color: var(--color-green);
  margin: 5px;
  padding: 10px;
  text-align: center;
}

.add p {
  color: #fff;
  font-weight: bold;
  font-size: 11px;
  margin: 0;
  padding: 0;
}

svg.svg-inline--fa.fa-check {
  width: 16px;
  color: #fff;

}

p.alertStock {
  font-size: 11px;
  font-weight: bold;
  color: #8a0000;
}

/**Header**/
nav {
  background-color: var(--color-main);
  color: #fff
}

.navbar-brand img {
  width: 280px;
}

#basic-navbar-nav {
  flex-grow: 0;
}

nav a,
.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.user {
  margin-left: 50px;
}

/**Cards**/


.card {
  border-radius: 5px;
  border: none;
  margin-bottom: 30px;
  transition: all .3s ease-in-out;
  min-height: 540px;
}

.card:hover {
  -webkit-box-shadow: 0 0 5px 0 rgb(43 43 43 / 10%), 0 11px 6px -7px rgb(43 43 43 / 10%);
  box-shadow: 0 0 5px 0 rgb(43 43 43 / 10%), 0 11px 6px -7px rgb(43 43 43 / 10%);
  transition: all .3s ease-in-out;

}

.card-title {
  font-size: 13px;
  font-weight: bold;
}

.card a {
  color: var(--color-main);
  text-decoration: none;
}

.card a:hover {
  color: #000;

}

.card a.btn.btn-primary {
  color: #fff;
}


/**Products**/



.counterProd {
  display: flex
}

.qtyItem {
  width: 80%;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  background-color: #e3e3e3;
}

@media screen and (width: 1920px) {
  .card {

    min-height: 570px;
  }
}